* {
    background-color: #E7E5E2;
    font-family: 'Special Gothic';
    color: #363636;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never; 
}

body {
    margin: 20px;
}

.title, .title div {
    font-family: 'Source Serif 4';
    font-size: 3rem;
    font-optical-sizing: none;
}

#title1 {
    font-size: 4.9rem;
    margin-bottom: -0.8rem;
    margin-top: -0.8rem;
}

.bodytext {
    font-size: 1.4rem;
    margin-top: 6px;
    margin-bottom: 9px;
}

.subtext {
    font-size: 0.9rem;
}

a {
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.writing {
    font-size: 1.4rem;
    max-width: 530px;
    margin: 50px auto;
}

.image-dropcap {
  float: left;
  width: 3.5rem;
  margin-right: 5px;
}

.VizText {
    text-align: center;
    display: inline;
}

.VizTitle {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.VizSubtitle {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.graphic_image {
    width: 530px;
    max-width:100%;
    display: block;
    margin: 0 auto;
}

#dining_stickers_image {
    width: 650px;
    max-width: 100%;
}

#sticker_placement_image {
    width: 530px;
    max-width: 100%;
}

#dining_stickers_caption {
    display: flex;
    max-width: 650px;
    justify-content: space-around;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 auto;
}

.img_border {
    border:1.5px solid #363636;
}

@media (max-width: 670px) {
    #title1 {
        font-size: 2.5rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .VizTitle {
        font-size: 1.3rem;
    }
}



    iframe {
      width: 100%;
      height: auto;
      align-content: center;
      border-width: 0px;
    }


.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin-section {
  border-top: dashed 2px var(--color-surface50);
  border-bottom: dashed 2px var(--color-surface50);
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 10px;
  position: relative;
  gap: 2rem;
}

.content ul li {
  font-size: 1.4rem;
  color: #C8C6C6;
  margin: 50px 0;
  padding: 0;
  padding-right: 10px;
  list-style: none;
  flex-grow: 0;
}

.listdate {
    color:#C8C6C6;
}

.content .fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: var(--color-shockingly-green);
}

.content .right {
  position: relative;
  max-width: 40%;
}

.right .slide {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}

.scrollpic {
  height: 100%;
  max-width: 500px;
}

.list {
    max-width: 40%;
    margin-left: 6rem;
}

ul {
    padding-inline-start: 0;
}

.listdate {
    font-weight: 600;
    font-size: 0.8rem;
}

@media (max-width: 1100px){
    .list {
    max-width: 40%;
    margin-left:2.5rem;
}
.scrollpic {
    max-width: 400px;
}
}

    #timeline-intro {
        margin-bottom: 0px;
    }
    #timeline-end {
        margin-top: 0px;
    }

    .mobile-timeline {
        display: none;
    }

@media screen and (max-width: 870px) {
    .pin-section {
        display: none;
    }
    #timeline-intro {
        margin-bottom: 20px;
    }
    #timeline-end {
        margin-top: 50px;
    }
    .mobile-timeline {
        display:block;
        margin-bottom: 1.4rem;
        margin-top: 1.4rem;
    }

    #timeline-end {
        margin-top: 1.4rem;
    }

    .listdate {
        color:#363636;
    }

    .scrollpic {
        max-width: 100%;
        height: auto;
    }
}

    html {
  scroll-behavior: smooth;
}